@charset "UTF-08";

.cabecalho {
    display: flex;
    color: var(--fonte);
    background-color: var(--background--primario);
    justify-content: space-between;
}

/*logo*/

.container__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.container__logo__button {
    display: none;
}

.container__logo__button__menu {
    width: 80px;
    height: 80px;
    display: block;
    background: url(../Assets/Menu.svg) center no-repeat;
}

.container__logo__logo {
    display: block;
}


.container__logo__titulo {
    display: none;
}

/*itens*/

.container__itens {
    display: none;
}

.container__itens__itens:hover {
    display: block;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--degrade--primario);
    color: var(--background--primario);
    transition-duration: 1s;
}

/*icons*/

.container__icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container__icons__icons:hover,
.container__icons__texto:hover {
    margin: 5px;
    transition-duration: 1s;
}

.container__icons__texto {
    display: none;
}

/*menu*/

.container__menu__mobile {
    display: none;

    position: absolute;
    top: 100%;
    right: -16em;
    z-index: 1;

    background-color: var(--background--primario);
    text-align: left;
}

.container__menu__mobile .container__menu__itens,
.container__menu__mobile .container__menu__titulo{
    display: block;
    padding: 24px 230px 12px 24px;
}

.container__menu__titulo__item {
    color: var(--destaque);
    font-family: "Poppins", sans-serif;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
}

.container__menu__itens {
    text-decoration: none;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.container__menu__itens a {
    color: var(--degrade--primario);
    font-family: "Poppins", sans-serif;
}

.container__logo__button:checked ~ .container__menu {
    display: block;
}

.container__logo__button:checked ~ .container__button > .container__logo__button__menu{
    background-image: url(../Assets/Menu\ Aberto.svg);
    background-color: var(--degrade--primario);
}

.container__button > .container__logo__button__menu:hover{
    background-image: url(../Assets/Menu\ Aberto.svg);
    background-color: var(--degrade--primario);
    transition-duration: 1s;
}

.container__menu__itens:hover {
    -webkit-text-fill-color: var(--background--primario);
    background-color: var(--degrade--primario);
    padding: 24px 230px 24px 24px;
    transition-duration: 1s;
}

.container__menu__outros {
    display: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho {
        padding: 20px;
    }

    /*logo*/

    .container__logo {
        align-items: center;
    }

    .container__logo__button__menu {
        display: none;
    }

    .container__logo__titulo {
        display: flex;
        align-items: center;

        font-family: "Josefin Sans", sans-serif;
        font-size: 30px;
        font-weight: 400;
        line-height: 10px;
    }

    .container__logo__titulo__destaque {
        font-family: "Josefin Sans", sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
    }

    /*itens*/

    .container__itens {
        display: flex;
        align-items: center;
        gap: 35px;
        text-transform: uppercase;

        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    #categorias__button {
        display: none;
    }

    .container__itens__itens {
        color: var(--fonte);
        text-decoration: none;
    }

    /*icons*/

    .container__icons {
        gap: 60px;
    }

    .container__icons__compras {
        padding-right: 60px;
    }

    .container__icons__favorito {
        display: none;
    }

    /*menu*/ 

    .container__logo__button:checked ~ .container__menu {
        display: none;
    }

    

    .container__menu__mobile {
        display: none;
    }

    .container__menu__outros {
        display: none;
    }

    .container__itens__button:checked ~ .container__menu__outros {
        display: block;
    }

    .container__menu__outros .container__menu__itens,
    .container__menu__outros .container__menu__titulo{
    display: block;
    padding: 24px 24px 12px 24px;
}

    .container__menu__outros {
        display: none;
    
        position: absolute;
        top: 4.7em;
        z-index: 1;
    
        background-color: var(--background--primario);
        text-align: left;
    }
    
    .container__itens__button:checked ~ .categorias__button > .container__itens__menu {
        background-color: var(--degrade--primario);
        color: var(--background--primario);
        padding: 10px 10px 20px 10px;
        border-radius: 5px; 
        transition-duration: 1s;
    } 
}

@media screen and (min-width: 1728px) {


    /*logo e itens*/

    .cabecalho {
        justify-content: left;
        gap: 50px;
        padding: 20px;
    }

    .container__itens {
        margin-right: auto;
    }

    .container__icons__compras, .container__icons__usuario {
        display: flex;
        width: fit-content;
        align-items: center;

        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: var(--fonte);
    }

    .container__icons__texto {
        display: flex;
    }

    /*menu*/

    .container__logo__button:checked ~ .container__menu {
        display: none;
    }

    .container__menu__mobile {
        display: none;
    }

    .container__menu__outros {
        display: none;
    }

    .container__itens__button:checked ~ .container__menu {
        display: block;
    }

    .container__menu__outros .container__menu__itens,
    .container__menu__outros .container__menu__titulo{
    display: block;
    padding: 24px 24px 12px 24px;
}

    .container__menu__outros {
        display: none;
    
        position: absolute;
        top: 4.6em;
        z-index: 1;
    
        background-color: var(--background--primario);
        text-align: left;
    }
    
    .container__itens__button:checked ~ .categorias__button > .container__itens__menu {
        background-color: var(--degrade--primario);
        color: var(--background--primario);
        padding: 10px 10px 20px 10px;
        border-radius: 5px; 
        transition-duration: 1s;
    } 

}